{% extends 'base.html' %}


{% block body%}
    <div class='row-wrapper'>
        <h1>Edit this Permit!</h1> 
        {% from 'includes/_formhelpers.html' import render_field %}
        <form method='POST' action="{{url_for('show_permit', id = permit.id)}}?_method=PATCH">
            {{ form.hidden_tag() }}
            <select name="home_select">
                {% for x in form.home %}
                    <option value={{permit.home}}>{{ x }}</option>
                {% endfor %}                                              
            </select>

            <select name="destination_select">
                {% for x in form.destination %}
                    <option value={{permit.destination}}>{{ x }}</option>
                {% endfor %}                                              
            </select>

            <select name="visa_select">
                {% for x in form.visa %}
                    <option value={{permit.visa}}>{{ x }}</option>
                {% endfor %}                                              
            </select>

            <select name="quarantine_select">
                {% for x in form.quarantine %}
                    <option value={{permit.quarantine}}>{{ x }}</option>
                {% endfor %}                                              
            </select>
            <p>
                <input type='submit' value='Edit Permit'>
            </p>
        </form>
    </div>
{% endblock %}
