
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
{% block body %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Log in</h3>
    <div class="box">
        <form method="POST" action="{{url_for('login')}}">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="username" placeholder="Username" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="email" placeholder="Email" autofocus="">
                </div>
            </div> 
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="password" placeholder="Password">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>
{% endblock %}