<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page looking good</h1> 
</body>
</html> -->

{% extends 'base.html' %}

{% block head %}
    <title>Flask demo</title>
{% endblock %}

{% block body %}
    <h1>Home Page</h1>
    
    <div class="auth-wrapper">
        <a href="{{url_for('signup')}}">Sign up</a>
        <a href="{{url_for('login')}}">Log in</a>
    </div>
    <img src="{{url_for('static',filename = 'img/vector-world-map.svg')}}" />
{% endblock %}

